body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:#FFFFFF;
}

ul{
    margin:0;
    padding:0;
}

header{
    background:#424241;
    color:#ffffff;
    padding-top:30px;
    padding-bottom:15px;
    margin-bottom:20px;
    min-height:70px;
    box-shadow: 0 5px 15px 0
        rgba(0,0,0, .5);
}

.logo img{
    width:200px;
    height:auto;
    float:left;
    margin-top:5px;
    margin-left:15px;
    margin-bottom:25px;
    box-shadow: 0 5px 15px 0
        rgba(0,0,0, .6);
}

header li{
    float:left;
    display:inline;
    margin:3px;
    padding: 0 10px 0 10px;
}

header nav{
    float:right;
}

#main{
    background:#FFFFFF;
    color:#424241;
        box-shadow: 0 5px 15px 0
        rgba(0,0,0, .5);
}

.container{
    width:80%;
    margin: auto;
    overflow:hidden;
    padding-bottom: 40px;
}

.btn{
    width:100px;
    height:auto;
    margin:30px;
    margin-top:25px;
    margin-bottom: 45px;
    border: none;
    background: none;
    padding: 10px 20px;
    color: #FFFFFF;
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
    border-radius: 4px;
    cursor: pointer;
}

.btnicon{
    margin:50px;
    border: none;
    background: none;
    padding: 15px 20px;
    color: #FFFFFF;
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
    border-radius: 4px;
}

.btn1{
    background: #7CC18D;
}

.btn2{
    background: #F0C23A;
}

.btn3{
    background: #D84333;
}

.btn4{
    background: #424241;
    float: right;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.swipeimg img{
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
    height: 400px;
    width: auto;
    margin-top: 25px;
    position: relative;
    left: -100px;
    transition: all 1s;
    opacity: 0;
}

.indexslideimg img{
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
    height: 700px;
    width: auto;
    margin-top: 60px;
}

.favorites img{
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
    height: 150px;
    width: auto;
    margin: 15px;
    margin-top: 40px;
    float: auto;
    
}

.swipeicon img{
    width: 40px;
    height: auto;
}

.arrowicon img{
    width: 25px;
    height: auto;
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
}

input[type=submit] {
    width: 15%;
    background-color: #7CC18D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 8px 0
        rgba(0,0,0, .4);
}

article#maincol{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

progress {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; 
}

.mySlides {display:none;}

@media screen and (min-width: 768px) {
    body {
        width: 768px;
        max-width: 768px;
        margin: auto;
    }
    article#maincol,
        aside#sidecol{
            float:none;
            text-align:center;
            width:100%;
        }
    
    header{
        padding-bottom:15px;
    }
}